<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Login Page</title>

	<link rel="shortcut icon" href="assets/images/gt_favicon.png">
	

	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" type="text/css">


	<link rel="stylesheet" href="css/route_style.css">


	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	
	<link href='//fonts.googleapis.com/css?family=Wire+One' rel='stylesheet' type='text/css'>

</head>
<body class="theme-invert">

<nav class="mainmenu">
	<div class="container">
		<div class="dropdown">
			<button type="button" class="navbar-toggle" data-toggle="dropdown"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
			
			<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" class = "menuColor">
				<li><a href="#head" class="active yolo">BelayMe</a></li>
				<li><a href="#about" class="yolo">How's it work?</a></li>
				<li><a href="#contact" class="yolo">Crush It!</a></li>
				<li><a href="/login">Login</a></li>
				<li><a href="/signUp">Sign Up</a></li>
			</ul>
		</div>
	</div>
</nav>

 <div class="container text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h1>Log In</h1>
        <hr>

        <!-- method and action refer to the request type (post) and request url (/login) -->
        <form method="post" action="/login">
          <div class="form-group">

            <!-- the `name` HTML attribute sends form data to the server -->
            <!-- setting the names `user[email]` and `user[password]` allows us to use `req.body.user` on the server-side, which gives us a user object with `email` and `password` keys -->
            <input type="text" name="user[email]" class="form-control" placeholder="Email" autofocus>
          </div>
          <div class="form-group">
            <input type="password" name="user[password]" class="form-control" placeholder="Password">
          </div>
          <div class="form-group">
            <input type="submit" value="Log In" class="btn btn-primary">
          </div>
        </form>
      </div>
    </div>
  </div>

<!-- underscore -->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<!-- jQuery -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<!-- bootstrap -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<!-- modernizer -->
<script src="js/modernizr.custom.72241.js"></script>
<!-- custom scripts -->
<script src="js/route_magic.js"></script>
<script type="text/javascript" src="js/posts.js"></script>


</body>
</html>