<!DOCTYPE html>
<html lang="en">
<head>
  <title>BelayMe</title>
  <link rel="shortcut icon" href="assets/images/gt_favicon.png">
  

  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" type="text/css">


  <link rel="stylesheet" href="css/route_style.css">


  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  
  
  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700|Yanone+Kaffeesatz&subset=cyrillic-ext,latin' rel='stylesheet' type='text/css'>


</head>


<body class="theme-invert">

<nav class="mainmenu">
  <div class="container">
    <div class="dropdown">
      <button type="button" class="navbar-toggle" data-toggle="dropdown"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      
      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" class = "menuColor">
        <li><a href="#head" class="active yolo">BelayMe</a></li>
        <li><a href="#about" class="yolo">How's it work?</a></li>
        <li><a href="#contact" class="yolo">Crush It!</a></li>
        <li><a href="/logout">Log Out</a></li>
      </ul>
    </div>
  </div>
</nav>



<section class="section" id="head">
  <div class="container">

    <div class="row">
      <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center"> 

        
        <h1 class="title" style="color:white;font-size:84px;">BelayMe</h1>
      
        
        <h3 class="tagline" style="color:white;font-size:26px;">
          Belay On.
        </h3>
        
        
        
  
      </div> 
    </div>
  <nav>
   
   <div class="container"> 
      <!-- underscore template for nav links -->
          <script type="text/template" id="nav-template">
            <% if (currentUser) { %>
              <li><a href="/profile">Profile</a></li>
              <li><a href="/logout">Log Out</a></li>
            <% } else { %>
              <li><a href="#" data-toggle="modal" data-target="#signup-modal">Sign Up</a></li>
              <li><a href="#" data-toggle="modal" data-target="#login-modal">Log In</a></li>
            <% } %>
          </script>
        </ul>
    </div><!-- /.container -->
  </nav>

  
  

    <!-- map -->
      <div class = "container">
      
      
    <!-- form to enter new post -->
      <div class="col-md-4   text-left">  
   <iframe width='100%' height='500px' frameBorder='0' src='https://a.tiles.mapbox.com/v4/paulkim517.968548a8/attribution,zoompan,zoomwheel,geocoder.html?access_token=pk.eyJ1IjoicGF1bGtpbTUxNyIsImEiOiI4M2IxYzYxMTA0NTIzMjY1ZGEyYjcwNDdmMDgwYTdlOSJ9.l-q5F20plU7l2ArTn7HFXw'></iframe>
         <form id="new-post">
             <div class="form-group">
                <input type="text" class="form-control" placeholder="User Name" id="name">
            </div>
          
          <div class="form-group">
              <select class="form-control" id="location">
                <option disabled selected>Locations</option>
                <option>El Capitan, Yosemite National Park, CA 37.732, -119.6376</option>
                <option>Happy Boulders, Bishop,CA 37.4156, -118.4482</option>
                <option>Beaver Street Wall, San Francisco,CA37.7655, -122.4368</option>
                <option>Riverside Rock Quarry, Riverside,CA 34.0169, -117.4166</option>
                <option>The Brickyard, Santa Barbara,CA 34.4978, -119.8611</option>
                <option>Sad Boulders, Bishop, CA 37.4176, -118.43277</option>
                <option>Mt. San Jacinto, Palm Springs, CA 33.8151, -116.68</option>
                <option>Joshua Tree Bouldering Area, Joshua Tree,CA 34.01565, -116.16298</option>
              </select>
            </div>
            <div class="form-group">
              <textarea class="form-control" rows="3" placeholder="Message" id="message"></textarea>
            </div>
            <div class="form-group">
              <input type="submit" value="Post" class="btn btn-primary btn-block">
            </div>
          </form>
      </div>
     
      <!-- container for appended new post -->
        <div class="col-md-6 ">
            <!-- list of posts -->
            <ul class="list-group" id="post-list">
              <!-- underscore template for posts -->
              <script type="text/template" id="belay-template">
                <li class="list-group-item">
                  <%= name %>
                  &nbsp;
                  <%= location %>
                  &nbsp;
                  <%= message %> 
                </li>
               </script>
            </ul>
        </div>
      </div>

        

</section>




<!-- "About" section -->
<section class="section" id="about">
  <div class="container">
  
    <h1 class="text-center title" style="color:white;">How Does BelayMe work?</h2>
    <div class="row">
      <div class="col-sm-4 col-sm-offset-2">    
        <h2 class = "how-to"><strong>Need someone to belay you?<br></strong></h5>
        <p>Trying to find someone to make sure you're safe when climbing is hard. It's the crux in life for most climbers. With BelayMe you can post details of your next climb and have a trustworthy climbing partner to belay you or to make sure you don't go missing the in the wild! You'll climb with all levels and meet new people.</p>    
      </div>
      <div class="col-sm-4">
        <h2 class = "how-to"><strong>Want to make new climbing buddies?<br></strong></h5>    
        <p>Trying to make new friends in the world is scary but not with BelayMe. Whether you're a veteran looking for new buddies to climb with or a newbie looking for people to teach you, you can use BelayMe to help you in your search. Belay On!</p>
      </div>
    </div>
  </div>
</section>

<!-- contact section -->
<section class="section" id="contact">
  <div class="container">
  
    <h2 class="text-center title" style="color:white;">Clip in and belay on!</h2>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <p class="lead">Reach out if you have any concerns! </p>
        <p class="lead">Email me your questions.</p>
        <p class="lead"><b>paul@routesetter.com</b><br><br></p>
      </div>
    </div>

  </div>
</section>






<!-- underscore -->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<!-- jQuery -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<!-- bootstrap -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<!-- modernizer -->
<script src="js/modernizr.custom.72241.js"></script>
<!-- custom scripts -->
<script src="js/route_magic.js"></script>
<script type="text/javascript" src="js/posts.js"></script>


</body>
</html>